{% extends 'webfrontend/base.html' %}
{% load pask_url pk_meta_tags embedded_video %}

{% block meta_tags %}{% pk_meta_tags view_metadata %}{% endblock %}

{% block body %}
    <div class="pk-g-responsive-centring-container pk-g-main-container">
        <main class="main pk-g-centred pk-g-boxed-main pk-boxed-standalone pk-g-no-focus-outline">
            <article class="main-article">
                <h1 id="main-heading" class="pk-g-page-heading">{{ tutorial.title }}</h1>

                <footer class="top-meta">
                    <p>Video tutorial for <a class="pk-g-inline-link inline-link" href="{% pask_url 'webfrontend:toolversion' p_tool_id=version.tool.id p_platform_slug=version.supported_os.slug_name %}">{{ version_name_localized }}</a></p>
                </footer>

                {% embedded_video tutorial is_lazy_loading=False %}
            </article>

            <a
                class="pk-button all-tutorials-button"
                href="{% pask_url 'webfrontend:toolversiontutorials' p_tool_id=version.tool.id p_platform_slug=version.supported_os.slug_name %}"
            >→ All {{ version_name_localized }} video tutorials</a>
        </main>
    </div>
{% endblock %}
