{% load static %}

<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-translate/angular-translate.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js' %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/moment/moment.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-moment/angular-moment.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/moment/locale/fa.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/moment-jalaali/build/moment-jalaali.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/velocity/velocity.min.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/plugin/dist/plugin.min.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/bellows/dist/bellows.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'bower_components/angular-recaptcha/release/angular-recaptcha.js' %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static 'js/libraries/scooch-1.0.1.patched.js' %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/paskoocheh.config.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/paskoocheh.routes.js' %}"></script>

<script type="text/javascript" charset="utf-8" src="{% static 'js/components/components.module.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/api/api.service.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/faq-item-header/faq-item-header.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filter-sidebar/filter-sidebar.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filters/checkmark.filter.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filter-crumbs/filter-crumbs.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filters/farsi-digits.filter.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/overlay/overlay.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/overlay/overlay-open.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/promo-carousel/promo-carousel.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/static-page/static-page.controller.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-list/tool-list.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-version-download/tool-version-download.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filter-search/filter-search.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/filter-search/search-trigger.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/search/search.service.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/search/filter.service.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/star-rating/star-rating.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-ratings/tool-ratings.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/loading-spinner/loading-spinner.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/related-tools-sidebar/related-tools-sidebar.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-list-item/tool-list-item.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/back-to-top-button/back-to-top-button.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/wrap-scooch/wrap-scooch.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-rating-text/tool-rating-text.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/menu/menu-open-trigger.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/menu/menu-close-trigger.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/tool-platform-selector/tool-platform-selector.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/rating-form/rating-form.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/components/android-app-download-button/android-app-download-button.directive.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/views/views.module.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/views/tool-detail/tool-detail.controller.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/views/recent/recent.controller.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/views/all/all.controller.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'js/views/search/search.controller.js' %}"></script>
