{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'js/libraries/scooch-1.0.1.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/libraries/scooch-1.0.1-style.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/paskoocheh.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bellows/dist/bellows.min.css' %}" />
